#head-vp-p {
  margin-top: 0.5em;
}

#submit-btn {
  background: rgba(182,36,50,0);
  color: #4f1b59;
}

#home {
  margin: 2em;
  z-index: 52;
}

.card-col {
  padding: 0.5em;
}

.des {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.des:hover {
  text-decoration: none;
  color: #ce46e8;
  font-size: 35px;
  font-family: 'Abril Fatface', serif;
  transition: 0.3s;
}

@media (max-width: 1000px) {
  .event-para {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .event-para {
    font-size: 13px;
  }
}

.event-head {
  font-size: 30px;
  font-weight: 600;
}

